<table border="1">
    <tr>
        <th>Дата</th>
        <th>Заголовок</th>
        <th></th>
        <th></th>
    </tr>
    <tr>
        <th>2015-01-01</th>
        <th>Заголовок 1</th>
        <td>
            <a href="#">Редактировать</a>
        </td>
        <td>
            <a href="#">Удалить</a>
        </td>
    </tr>
    <tr>
        <th>2015-01-01</th>
        <th>Заголовок 2</th>
        <td>
            <a href="#">Редактировать</a>
        </td>
        <td>
            <a href="#">Удалить</a>
        </td>
    </tr>
    <tr>
        <th>2015-01-01</th>
        <th>Заголовок 3</th>
        <td>
            <a href="#">Редактировать</a>
        </td>
        <td>
            <a href="#">Удалить</a>
        </td>
    </tr>
</table>